/* COLORS */
/* best at 1500px or less */
html, body {
  height: 100%; }

body {
  background: #015871;
  overflow: hidden; }

.ocean {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

.wave {
  height: 110%;
  position: absolute;
  width: 6400px;
  transform: translate3d(0, 0, 0); }
  .wave.-one {
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 6s ease -1.25s infinite;
    background: url(../img/wave-1.svg) repeat-x;
    opacity: 1;
    top: -250px;
    z-index: 1; }
  .wave.-two {
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    background: url(../img/wave-2.svg) repeat-x;
    top: -200px;
    opacity: .7;
    z-index: 2; }
  .wave.-three {
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 8s ease -1.25s infinite;
    background: url(../img/wave-3.svg) repeat-x;
    opacity: .5;
    top: -150px;
    z-index: 3; }

@keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1252px; } }

@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -65px, 0); }
  50% {
    transform: translate3d(0, 5px, 0); } }
