/* COLORS */
html, body {
  height: 100%; }

body {
  background: #fff;
  color: #0c4545;
  overflow: hidden;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400; }

h1 {
  color: white;
  font-family: 'Baloo', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  padding-right: 20px;
  text-align: right; }

h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 22px;
  font-style: italic; }

.is-bold {
  font-weight: bold; }

header {
  background-color: #2e2e2e;
  opacity: .8; }

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  margin: 0 100px;
  z-index: 1; }

ul {
  background-color: white;
  list-style-type: none; }
  ul p {
    margin: 0; }

.fadein img {
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: 0; }

.fadein img:nth-child(1) {
  animation-delay: 0s; }

.fadein img:nth-child(2) {
  animation-delay: 3s; }

.fadein img:nth-child(3) {
  animation-delay: 6s; }

@keyframes fade {
  0% {
    opacity: 0; }
  2% {
    opacity: 1; }
  96% {
    opacity: 1; }
  98% {
    opacity: 0; }
  100% {
    opacity: 0; } }
