html, body {
  height: 100%; }

body {
  background: #fff;
  color: #0c4545;
  overflow: hidden;
  font-family: "Varela Round", sans-serif;
  font-weight: 400; }

h1 {
  color: white;
  font-family: "Baloo", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  padding: 20px;
  text-align: right; }

h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 22px;
  font-style: italic; }

.is-bold {
  font-weight: bold; }

.background img {
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  top: 0;
  z-index: 0; }

header {
  background-color: #2e2e2e;
  opacity: .8; }

.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: relative;
  margin: 0 18%;
  z-index: 1; }

ul {
  background-color: white;
  list-style-type: none; }
  ul label {
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer; }
    ul label:hover {
      background: #f6f6f6; }
    ul label:active {
      background: #f4f4f4; }
    ul label input {
      visibility: hidden;
      display: none; }
      ul label input .icon::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased; }
      ul label input:checked ~ .label__text:before {
        content: "\f00c";
        font-family: FontAwesome;
        font-weight: 900;
        font-size: 14px;
        text-indent: 0;
        background: #31A55F;
        box-shadow: inset 0 0 5px 3px rgba(255, 255, 255, 0.1); }
      ul label input:checked ~ .label__text:after {
        width: calc( 100% + 4px); }
      ul label input:checked ~ .label__text {
        color: #ccc; }
    ul label .label__text {
      position: relative;
      color: #333;
      transition: all .15s ease; }
      ul label .label__text:before {
        content: '';
        position: absolute;
        width: 26px;
        height: 26px;
        top: -3px;
        left: -38px;
        text-align: center;
        line-height: 26px;
        text-indent: 40px;
        color: #fff;
        font-family: 'Ionicons';
        font-size: 200%;
        font-weight: bolder;
        border-radius: 20px;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
        background: #fff;
        transition: all .08s ease-in; }
      ul label .label__text:after {
        content: '';
        position: absolute;
        width: 0px;
        height: 2px;
        top: calc( 50% - 1px);
        left: -2px;
        transition: all .08s ease-out; }
      ul label .label__text p {
        margin: 0; }
