@import 'partials/variables';

/* best at 1500px or less */

html, body { 
  height: 100%; 
}

body {
  background: #fff;
  color: #0c4545;
  overflow: hidden;
  font-family: 'Palanquin', sans-serif;
  font-weight: 500;
}

h1 {
  color: white;
  font-family: 'Palanquin', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  font-style: italic;
}

main.content {
  display: flex;
  flex-direction: column;
  position: fixed;
  max-width: 700px;
  z-index: 100;
}

ul {
  background-color: white;
}

// new photo box stuff

.box {
  width:calc(100% - 5em);
  display:block;
  min-height:100px;
  margin:1em auto;
}
.box img{
  max-width:100%;
  opacity:1;
  transition:opacity 200ms ease;
}