@import 'partials/variables';

// global

html, body {
  margin: 0;
}

body {
  background: #fff;
  color: $dark-gray;
  font-family: $base-font-family;
  font-weight: 400;
  overflow: scroll;
}

footer {
  color: white;
  font-size: 14px;
  margin-top: 15px;
  opacity: 1;
  text-align: left;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  color: white;
  font-family: $base-font-family;
  font-size: 40px;
  line-height: 1.2;
  padding: 20px;
  text-transform: lowercase;

  @media screen and (max-width: 800px) {
    font-size: 30px;
    padding: 5px 0 5px 65px;
  }

  @media screen and (max-width: 600px) {
    font-size: 26px;
    padding: 5px 10px 5px 20px;
  }
}

h2 {
  background: $light-white;
  box-shadow: 0px 0px 89px -12px rgba(0,0,0,0.75);
  font-family: $base-font-family;
  font-size: 20px;
  opacity: .6;
  padding: 10px 20px 10px 65px;
  position: relative;
  margin: 0;
  text-transform: lowercase;
  z-index: 2;

  @media screen and (max-width: 800px) {
    font-size: 18px;
    padding: 5px 20px 5px 65px;
  }

  @media screen and (max-width: 600px) {
    padding: 5px 10px 5px 20px;
  }

  p {

    &:nth-of-type(1) {
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      margin-top: 8px;
    }
  }
}

.border {
  border-bottom: 1px solid $light-gray;
  margin: 20px 10px 20px -45px;
}

// modifiers

.is-bold {
  font-weight: bold;

  &:first-of-type {
    margin-bottom: 8px;
  }
}

// layout

#beachVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

header {
  background-color: black;
  box-shadow: 0px 0px 89px -12px rgba(0,0,0,0.75);
  height: 235px;
  opacity: .7;
  margin-top: 40px;
  position: relative;
  text-align: right;

  @media screen and (max-width: 800px) {
    height: auto;
    text-align: left;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: relative;
  margin: 5% 18% auto 18%;
  opacity: .9;
  z-index: 1;

  @media screen and (max-width: 1000px) {
    margin: 5% 10% auto 10%;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

ul {
  background-color: white;
  box-shadow: 0px 20px 89px -12px rgba(0,0,0,0.75);
  list-style-type: none;
  padding: 30px 20px 40px 70px;
  position: relative;
  margin: 0;
  z-index: 3;

  @media screen and (max-width: 800px) {
    padding: 20px 20px 20px 65px;
  }

  label {
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;

    input {
      visibility: hidden;
      display: none;

      .icon::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }

      &:checked ~ .label__text:before {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 14px;
        text-indent: 0;
        background: #31A55F;
        box-shadow: inset 0 0 5px 3px rgba(255,255,255,.10);
      }

      &:checked ~ .label__text:after {
        width: calc( 100% + 4px );
      }

      &:checked ~ .label__text {
        color: #ccc;
      }
    }

    .label__text {
      position: relative;
      color: #333;
      transition: all .15s ease;

      &:before {
        content: '';
        position: absolute;
        width: 26px;
        height: 26px;
        top: 20%;
        left: -44px;
        text-align: center;
        line-height: 26px;
        text-indent: 40px;
        color: $light-white;
        font-size: 200%;
        border-radius: 20px;
        box-shadow: inset 0 0 0 2px rgba(0,0,0,.1);
        background: $light-white;
        transition: all .15s ease;
      }

      &:after {
        content: '';
        position: absolute;
        width: 0px;
        height: 2px;
        top: calc( 50% - 1px );
        left: -2px;
        transition: all .15s cubic-bezier(.8,.1,.1,.8);
      }

      p {
        margin: 0;
      }
    }
  }
}
