@import 'partials/variables';

// global

html, body { 
  height: 100%; 
}

body {
  background: #fff;
  color: #0c4545;
  overflow: hidden;
  font-family: $base-font-family;
  font-weight: 400;
}

h1 {
  color: white;
  font-family: $heading-font-family;
  font-size: 40px;
  line-height: 1.2;
  padding: 20px;
  text-align: right;
  text-transform: lowercase;
}

h2 {
  background: $light-white;
  font-family: $base-font-family;
  font-size: 22px;
  font-style: italic;
  opacity: .6;
  padding: 10px 20px 20px 55px;
  margin: 0;
}

.border {
  border-bottom: 1px solid $light-gray;
  margin: 20px 40px 20px -40px;
}

// modifiers

.is-bold {
  font-weight: bold;
}

// layout

.background img {
  position:absolute; 
  left:0; 
  right:0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  top: 0;
  z-index: 0;
}

header {
  background-color: #2e2e2e;
  opacity: .8;
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: relative;
  margin: 0 18%;
  z-index: 1;
}

ul {
  background-color: white;
  list-style-type: none;
  padding: 20px 0 20px 60px;

  label {
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;

    input {
      visibility: hidden;
      display: none;

      .icon::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }

      &:checked ~ .label__text:before {
        content: "\f00c";
        font-family: FontAwesome;
        font-weight: 900;
        font-size: 14px;
        text-indent: 0;
        background: #31A55F;
        box-shadow: inset 0 0 5px 3px rgba(255,255,255,.10);
      }

      &:checked ~ .label__text:after {
        width: calc( 100% + 4px );
      }

      &:checked ~ .label__text {
        color: #ccc;
      }
    }

    .label__text {
      position: relative;
      color: #333;
      transition: all .15s ease;

      &:before {
        content: '';
        position: absolute;
        width: 26px;
        height: 26px;
        top: 8px;
        left: -38px;
        text-align: center;
        line-height: 26px;
        text-indent: 40px;
        color: $light-white;
        font-size: 200%;
        border-radius: 20px;
        box-shadow: inset 0 0 0 2px rgba(0,0,0,.1);
        background: $light-white;
        transition: all .15s ease;
      }

      &:after {
        content: '';
        position: absolute;
        width: 0px;
        height: 2px;
        top: calc( 50% - 1px );
        left: -2px;
        transition: all .15s cubic-bezier(.8,.1,.1,.8);
      }

      p {
        margin: 0;
      }
    }
  }
}
