@import 'partials/variables';

html, body { 
  height: 100%; 
}

body {
  background: #fff;
  color: #0c4545;
  overflow: hidden;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
}

h1 {
  color: white;
  font-family: 'Baloo', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  padding-right: 20px;
  text-align: right;
}

h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 22px;
  font-style: italic;
}

.is-bold {
  font-weight: bold;
}

header {
  background-color: #2e2e2e;
  opacity: .8;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  margin: 0 100px;
  z-index: 1;
}

ul {
  background-color: white;
  list-style-type: none;

  p {
    margin: 0;
  }
}

// bg experiments

.fadein img { 
    ///animation: 190s fade infinite;
    //animation: 9s fade infinite;
    //opacity:0; 
    position:absolute; 
    left:0; 
    right:0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: 0;
}

.fadein img:nth-child(1) { animation-delay: 0s; }
.fadein img:nth-child(2) { animation-delay: 3s; }
.fadein img:nth-child(3) { animation-delay: 6s; }
//.fadein img:nth-child(4) { animation-delay: 9s; }
//.fadein img:nth-child(5) { animation-delay: 40s; }
//.fadein img:nth-child(6) { animation-delay: 50s; }
//.fadein img:nth-child(7) { animation-delay: 60s; }
//.fadein img:nth-child(8) { animation-delay: 70s; }
//.fadein img:nth-child(9) { animation-delay: 80s; }
//.fadein img:nth-child(10) { animation-delay: 90s; }
//.fadein img:nth-child(11) { animation-delay: 100s; }
//.fadein img:nth-child(12) { animation-delay: 110s; }
//.fadein img:nth-child(13) { animation-delay: 120s; }
//.fadein img:nth-child(14) { animation-delay: 130s; }
//.fadein img:nth-child(15) { animation-delay: 140s; }
//.fadein img:nth-child(16) { animation-delay: 150s; }
//.fadein img:nth-child(17) { animation-delay: 160s; }
//.fadein img:nth-child(18) { animation-delay: 170s; }
//.fadein img:nth-child(19) { animation-delay: 180s; }
//.fadein img:nth-child(20) { animation-delay: 190s; }

@keyframes fade {
  0%   { opacity: 0; }
  2%   { opacity: 1; }
  96%  { opacity: 1; }
  98%  { opacity: 0; }
  100% { opacity: 0; }
}
